<p id="notice"><%= notice %></p>

<h1>Deployment</h1>

<p>
  <strong>Deploy notes:</strong>
  <%= @deployment.deploy_notes %>
</p>

<p>
  <strong>Deploy date:</strong>
  <%= @deployment.deploy_date %>
</p>

<p>
  <strong>Deploy time:</strong>
  <%= @deployment.deploy_time %>
</p>

<p>
  <strong>Retrieve status:</strong>
  <%= @deployment.retrieve_status %>
</p>

<p>
  <strong>Retrieve notes:</strong>
  <%= @deployment.retrieve_notes %>
</p>

<p>
  <strong>Retrieve date:</strong>
  <%= @deployment.retrieve_date %>
</p>

<p>
  <strong>Retrieve time:</strong>
  <%= @deployment.retrieve_time %>
</p>

<p>
  <strong>Site:</strong>
  <%= @deployment.site %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @deployment.unit %>
</p>

<h3>Import Measurement Data</h3>
<%= form_tag import_measurements_path(@deployment.id), multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Upload Data" %>
<% end %>

<%= link_to 'Edit', edit_deployment_path(@deployment) %>|
<%= link_to 'Back', site_path(@deployment.site_id) %>

<% if @deployment.measurements.any? %>
<table>
  <thead>
    <tr>
      <th>Date Time</th>
      <th>Temperature</th>
    </tr>
  </thead>
  <tbody>
    <% @deployment.measurements.each do |measurement| %>
    <tr>
      <th scope="row"><%= measurement.moment %></th>
      <td><%= measurement.temperature %></td>
    </tr>
    <% end  %>
  </tbody>
</table>
<% end %>