<%= link_to 'Back to Site', site_path(@deployment.site_id), class: "btn btn-info" %>

<h2>Deployment</h2>
<hr>

<div class="row">
  <div class="col-md-6">
    <strong>Site:</strong>
    <p><%= @deployment.site.name %></p>
  </div>
  <div class="col-md-6">
    <strong>Logger Unit:</strong>
    <p><%= @deployment.unit.serial %></p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Deployment</h3>
    <hr>

    <strong>Deploy date:</strong>
    <p><%= @deployment.deploy_date.to_formatted_s(:long_ordinal) %></p>
    <hr>

    <strong>Deploy time:</strong>
    <p><%= @deployment.deploy_time.to_formatted_s(:time) %></p>
    <hr>

    <strong>Deploy notes:</strong>
    <p><%= @deployment.deploy_notes %></p>
  </div>

  <div class="col-md-6">

    <h3>Retrieval</h3>
    <hr>

    <strong>Retrieve date:</strong>
    <p><%= @deployment.display_retrieve_date %></p>
    <hr>

    <strong>Retrieve time:</strong>
    <p><%= @deployment.display_retrieve_time %></p>
    <hr>

    <strong>Retrieve notes:</strong>
    <p><%= @deployment.retrieve_notes %></p>
    <hr>
    <strong>Retrieve status:</strong>
    <p><%= @deployment.retrieve_status %></p>

  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-4">
    <%= link_to 'Edit Deployment', edit_deployment_path(@deployment), class: "btn btn-primary" %>
  </div>
  <div class="col-md-8">
    <p class="lead">Import Measurement Data</p>
    <%= form_tag import_measurements_path(@deployment.id), multipart: true do %>
    <%= file_field_tag :file, class: "btn btn-outline-primary" %>
    <%= submit_tag "Upload Data", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
<hr>

<% if @deployment.measurements.any? %>
<h4>Total Measurements: <%= @deployment.measurements.count %></h4>
<%= line_chart @deployment.measurements.group_by_day(:moment).maximum(:temperature) %>
<% end %>