<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @site.description %>
</p>

<p>
  <strong>Project Name:</strong>
  <%= @site.project.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @site.image, alt: "This is alt text", class: "this-class" %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>