<p id="notice"><%= notice %></p>

<%= link_to 'Project', project_path(@site.project_id), class: "btn btn-secondary" %>
<h2><%= @site.name %></h2>

<p>
  <strong>Project Name:</strong>
  <%= @site.project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @site.description %>
</p>

<p>
  <%= image_tag @site.image, alt: "This is alt text", class: "this-class" %>
</p>

<% if @site.deployments.any? %>
<table class="table">
  <thead>
    <tr>
      <th>Deployed</th>
      <th>Retrieved</th>
      <th>Status</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% @site.deployments.each do |deployment| %>
    <tr>
      <th scope="row"><%= deployment.deploy_date.to_formatted_s(:long_ordinal) %></th>
      <td><%= deployment.display_retrieve_date %></td>
      <td><%= deployment.retrieve_status %></td>
      <td><%= link_to  "Deployment", deployment_path(deployment.id) %></td>
    </tr>
    <% end  %>
  </tbody>
</table>
<% end %>

<%= link_to 'Edit Site', edit_site_path(@site), class: "btn btn-secondary" %>
<%= link_to 'Add New Deployment', add_deployment_path(@site), class: "btn btn-secondary" %>