<p id="notice"><%= notice %></p>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Projects', projects_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Project', project_path(@site.project_id) %></li>

    <li class="breadcrumb-item active" aria-current="page">Site: <%= @site.name %></li>
  </ol>
</nav>


<div class="row">
  <div class="col-md-6">
    <%= image_tag @site.image.url, alt: "This is alt text", class: "rounded img-fluid", width: 600 %>
  </div>
  <div class="col-md-6">
    <h2><%= @site.name %></h2>
    <strong>Project Name:</strong>
    <p><%= @site.project.name %></p>

    <strong>Description:</strong>
    <p><%= @site.description %></p>

  </div>
</div>

<% if @site.deployments.any? %>
<h4>Logger Deployments</h4>
<table class="table">
  <thead>
    <tr>
      <th>Deployed</th>
      <th>Retrieved</th>
      <th>Status</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% @site.deployments.each do |deployment| %>
    <tr>
      <th scope="row"><%= deployment.deploy_date.to_formatted_s(:long_ordinal) %></th>
      <td><%= deployment.display_retrieve_date %></td>
      <td><%= deployment.retrieve_status %></td>
      <td><%= link_to  "Deployment", deployment_path(deployment.id) %></td>
    </tr>
    <% end  %>
  </tbody>
</table>
<% end %>

<%= link_to 'Edit Site', edit_site_path(@site), class: "btn btn-primary" %>
<%= link_to 'Add New Deployment', add_deployment_path(@site), class: "btn btn-primary" %>